# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Database (SQLite)
*.db
*.db-shm
*.db-wal

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Automation Runtime
autohub/automation/brochures/data
autohub/automation/discovery/data/

# Checksum Runtime Files
autohub/automation/brochures/downloader/checksums.json
checksums.json